<main>
  <div class="grid grid-cols-3 gap-6 text-2xl">
    <button class="movie-card" routerLink="/search">
        <ng-icon name="phosphorPlus" />
    </button>
    
    @for (movie of movies(); track movie.id) {
      @if (hasPoster(movie)) {
        <button class="movie-card aspect-2/3 overflow-hidden" (click)="onMovieSelect(movie.id)">
          <img 
            [src]="getPosterUrl(movie)" 
            [alt]="movie.title"
            class="w-full h-full object-cover"
          />
        </button>
      } @else {
        <button class="movie-card aspect-2/3" (click)="onMovieSelect(movie.id)">
          <ng-icon name="phosphorFilmSlateFill" />
          <span class="text-xs mt-2 line-clamp-2">{{ movie.title }}</span>
        </button>
      }
    }
  </div>
</main>