<div
  class="flex flex-row justify-between items-center gap-2 p-3 border-b transition-all duration-300"
  [class.text-[var(--foreground)]]="!searchTerm()"
  [class.border-[var(--foreground)]]="!searchTerm()"
  [class.font-light]="!searchTerm()"
  [class.bg-[var(--foreground)]]="searchTerm()"
  [class.font-black]="searchTerm()"
  [class.text-[var(--background)]]="searchTerm()"
>
  <input
    type="text"
    [value]="searchTerm()"
    (input)="onInputChange($event)"
    [placeholder]="placeholder()"
    class="w-full bg-transparent focus:outline-none"
  />

  @if (!searchTerm()) {
    <ng-icon name="phosphorMagnifyingGlass"></ng-icon>
  } @else {
    <ng-icon name="phosphorMagnifyingGlassBold"></ng-icon>
  }
</div>
