<div class="flex flex-col gap-3">
  <app-return-component pageName="Search" />
  
  <!-- Search Bar -->
  <section>
    <app-search-bar 
      [placeholder]="'SEARCH'" 
      [value]="currentSearchTerm()"
      (search)="onSearch($event)"
      (clear)="onClearSearch()"
    />
  </section>

  <section class="flex flex-col gap-15">
    @if (!isLoading() && searchResults().length === 0 && error() === null) {
      <!-- Genres -->
      <app-search-genres
        [genres]="genres()"
        [showAllGenres]="showAllGenres()"
        [currentSearchTerm]="currentSearchTerm()"
        (genreSelected)="onGenreSelect($event.id, $event.name)"
        (loadMore)="loadMoreGenres()"
        (showLess)="showLessGenres()"
      />

      <!-- Movie History -->
      <app-search-history
        [searchHistory]="searchHistory()"
        [movieHistory]="movieHistory()"
        [currentSearchTerm]="currentSearchTerm()"
        (searchFromHistory)="onSearchFromHistory($event)"
        (clearSearchHistory)="clearAllHistory()"
        (movieSelected)="onMovieSelectFromList($event)"
        (clearMovieHistory)="clearAllMovieHistory()"
      />
    }
  </section>

  <!-- Resultados -->
  <section>
    <app-search-results
      [searchResults]="searchResults()"
      [isLoading]="isLoading()"
      [error]="error()"
      [selectedGenre]="selectedGenre()"
      (movieSelected)="onMovieSelect($event)"
      (clearSearch)="onClearSearch()"
    />
  </section>

  <!-- Loading -->
  <section>
    @if (isLoading()) {
      <div class="flex justify-center items-center py-12">
        <div class="animate-spin rounded-lg size-10 loading-color"></div>
      </div>
    }
  </section>

  <!-- Error -->
  <section>
    @if (error()) {
      <div class="bg-red-200 text-red-700 px-4 py-3 rounded">
        <strong>Error:</strong> {{ error() }}
      </div>
    }
  </section>

</div>