<div class="flex flex-col gap-3">
  <app-return-component pageName="Search" />
  
  <section>
    <app-search-bar 
      [placeholder]="'Buscar películas...'" 
      (search)="onSearch($event)"
    />
  </section>

  <section>
    @if (!isLoading() && searchResults().length === 0 && error() === null) {
      <p class="text-center">Busca películas escribiendo arriba</p>
    }
  </section>

  <section>
    @if (searchResults().length > 0) {
      <div class="flex flex-col gap-5">
        <h2 class="text-xl font-bold">Películas encontradas:</h2>
        <ul class="flex flex-col gap-2">
          @for (movie of searchResults(); track movie.id) {
            <li 
              class="py-3 px-1 cursor-pointer border-b-1 flex flex-row justify-between items-start movie-list transition-all duration-100"
              (click)="onMovieSelect(movie.id)"
            >
              <img [src]="'https://image.tmdb.org/t/p/w92' + movie.poster_path" class="w-15 aspect-2/3 lg:w-20 xl:w-25 object-cover rounded-sm mr-5">
              <p class="text-lg w-3/4">{{ movie.title }}</p>
              <p class="text-sm">{{ movie.release_date | date: 'yyyy'}}</p>
            </li>
          }
        </ul>
      </div>
    }
  </section>

  <section>
    @if (isLoading()) {
      <div class="flex justify-center items-center py-12">
        <div class="animate-spin rounded-lg size-10 loading-color"></div>
      </div>
    }
  </section>

  <section>
    @if (error()) {
      <div class="bg-red-200 text-red-700 px-4 py-3 rounded">
        <strong>Error:</strong> {{ error() }}
      </div>
    }
  </section>
</div>