<section class="genres-section">
  @if (genres().length > 0 && !currentSearchTerm()) {
    <div class="flex flex-row justify-between px-3">
      <p class="text-sm font-light">GENRES</p>
      <div class="flex flex-col">
        @for (genre of getGenresToShow(); track genre.id) {
          <p class="cursor-pointer font-medium hover:underline text-right" 
             (click)="onGenreSelect(genre.id, genre.name)">
            {{ genre.name }}
          </p>
        }

        @if (genres().length > 10) {
          @if (!showAllGenres()) {
            <button (click)="onLoadMore()" class="text-right font-light text-sm">
              LOAD MORE
            </button>
          } @else {
            <button (click)="onShowLess()" class="text-right font-light text-sm">
              LOAD LESS
            </button>
          }
        }
      </div>
    </div>
  }
</section>