@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('./assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

/* 
Colores
- f1f5f9: slate-100
- 18181b: zinc-900
- d1d5db: gray-300
- 27272a: zinc-800
*/

:root {
  --background: #09090B; 
  --foreground: #F4F4F5;
  --selection-bg: #a1a1aa;
}

/* .dark {
  --background: #09090B; 
  --foreground: #F4F4F5;
} */

* {
  text-transform: uppercase;
}

body {
    font-family: 'Satoshi', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    transition: color 0.3s ease, background-color 0.3s ease;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--background);
  text-shadow: none;
} 